/* Popular.css */

/* Popular.css */

.popular {
    padding: 20px;
    text-align: center; /* Center align the content */
  }
  
  .popular h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  

  .popular hr {
    border: 1px solid #ddd;
    margin-bottom: 20px;
  }
  
  .popular-item {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  